    <% if flash %>
    <% flash.each do |msg_type, msg| %>
     <div class="alert alert-<%= msg_type %> alert-dismissible fade show mt-2" role="alert">
      <%= msg %>
      </div>
      <% end %>
      <% end %>