<h1>Welcome To Gallery Management</h1>


<div id="carouselExampleControls" class="carousel slide mt-2" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
    
    <%= image_tag "https://source.unsplash.com/1600x900/?laptop", class: "d-block w-100 img" %>
    </div>
  <% @posts.each_with_index do |post,i| %>
  
  <% post.image.each_with_index do |img,j| %>
  <% if img.present? %>
    <div class="carousel-item ">
    
    <%= image_tag img.url, class: "d-block w-100 img" %>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<% if current_user.has_role? :admin or current_user.has_role? :manager %>
<%= link_to 'Add Product', new_product_path, class: "btn btn-outline-success mt-2" %>
<% end %>
<%= link_to 'Show Products', products_path, class: "btn btn-outline-success mt-2" %>
<hr>

